/*Logo styles*/
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  width: 2rem;
  height: 2rem;
}

.logo-title {
  display: flex;
  width: auto;
  height: 1rem;
}

/*BaseButton styles*/

.base-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: var(--font-raleway);
  text-decoration: none;
  white-space: nowrap;
  padding: 1rem 2rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;

  &:not(&--outlined):hover {
    filter: brightness(160%) saturate(100%);
  }

  &--primary {
    --button-color: var(--background-black);
    --button-text-color: var(--font-color-white);
  }

  &--disabled {
    filter: brightness(125%) saturate(40%);
    cursor: default;
    cursor: not-allowed;
  }

  &--outlined {
    --button-text-color: var(--button-color);
    background-color: var(--font-color-white);
    border: 2px solid var(--button-color);

    &:hover {
      --button-text-color: var(--font-color-white);
      background-color: var(--button-color);
    }
  }
}

/*Header styles*/

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1.5rem 6rem 0 6rem;
  position: fixed;
  top: 0;
  background-color: var(--background-white);
  z-index: 10;

  @media (max-width:982px) {
    & {
      padding: 1.44rem 4rem 0 4rem;
      transition: all 0.5s ease;
    }
  }

  @media (max-width:768px) {
    & {
      padding: 1.44rem 1.9rem 0 1.9rem;
      transition: all 0.5s ease;
    }
  }

  @media (max-width: 576px) {
    & {
      padding: 1.44rem 1rem 0 1rem;
      transition: all 0.5s ease;
    }
  }

  &-btn {
    display: flex;
    gap: 10px;
  }
}
