/*Logo styles*/
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  width: 2rem;
  height: 2rem;
}

.logo-title {
  display: flex;
  width: auto;
  height: 1rem;
}

/*Icon styles*/

.icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: var(--background-white);
  padding: 0.3rem;

  &:hover {
    border: 1px solid var(--border-light-gray);
    border-radius: 50%;
    filter: var(--shadow-button);
  }
}

/*PostCard styles*/

.card {
  display: flex;
  margin: 0 auto;
  border: 1px solid var(--border-light-gray);
  border-radius: 1rem;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  height: 200px;
  background-color: var(--background-white);

  &:hover {
    filter: var(--shadow-drop);
  }

  &-vote {
    display: flex;
    gap: 2rem;

    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      & button {
        border: none;
        background-color: transparent;
      }
    }
  }

  &-context {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}

/*VotesInfo styles*/

.votes {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
  border: 1px solid var(--border-light-gray);
  border-radius: 1rem;
  justify-content: flex-start;
  align-items: center;

  &-user {
    display: flex;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--border-light-gray);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  &-btn {
    border: none;
    width: 150px;
    background-color: var(--background-white);
  }

  &-btn:hover {
    filter: var(--shadow-button);
  }

}

/*PostsList styles*/

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*VotesList styles*/
.votes-list {
  display: flex;
  gap: 1rem;
  position: fixed;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
  border: 1px solid var(--border-light-gray);
  border-radius: 1rem;
  overflow-y: auto;
  height: 200px;
  z-index: 10;
  background-color: var(--background-white);
  padding: 1rem;
  left: 55%;
}

.votes-users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*New Post*/
.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  padding: 1.5rem;
  gap: 2rem;
  background-color: var(--background-white);
  border: 1px solid var(--border-light-gray);
  border-radius: 1rem;

  &-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 80%;
    max-width: 600px;
  }

  &-form input {
    border: 1px solid var(--border-light-gray);
    border-radius: 1rem;
    padding: 0 1rem;
    height: 80px;
  }
}
